$padding-container: 2rem;
%px-container {
  padding-left: $padding-container;
  padding-right: $padding-container;
}

$text-xxs-size: 1rem;
$text-xs-size: 1.2rem;
$text-sm-size: 1.4rem;
$text-base-size: 1.6rem;
$text-lg-size: 1.8rem;
$text-xl-size: 2rem;
$text-xxl-size: 2.2rem;
$text-xxxl-size: 2.4rem;

%text-xs {
  font-size: $text-xs-size;
  line-height: 1rem;
}
%text-sm {
  font-size: $text-sm-size;
  line-height: 2rem;
}
%text-base {
  font-size: $text-base-size;
  line-height: 2rem;
}
%text-lg {
  font-size: $text-lg-size;
  line-height: 2rem;
}
%text-xl {
  font-size: $text-xl-size;
  line-height: 3rem;
}
%text-xxl {
  font-size: $text-xxl-size;
  line-height: 3.5rem;
}
%text-xxxl {
  font-size: $text-xxxl-size;
  line-height: 4.6rem;
}

%ellipsis {
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mt5 {
  margin-top: 5px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.ml5 {
  margin-left: 5px !important;
}

$border-color: var(--ion-border-color);