// 스위치박스
.switch-box{
  display: inline-table;
  transform: translate(0, 10px);
  min-width: 130px;
  height: 27px;
  background-color: #e8e8e8;
  border: solid 1px #e8e8e8;
  border-radius: 3px;
  box-shadow: inset 0px 1px 4px -2px rgba(0,0,0,0.15);
  z-index: 1;
  label{
    overflow: hidden;
    display: table-cell;
    height: 25px;
    letter-spacing: -0.3px;
    text-align: center;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    input{
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      opacity: 0;
      z-index: -10;
      &:checked ~ span {
        color: #666;
        font-weight: bold;
        background-color: #fff;
      }
    }
    span{
      display: block;
      width: 100%;
      height: 26px;
      padding: 8px 10px 0;
      font-size: 11px;
      color: #999;
    }
  }
}
// 컬러 라벨
.top-desc {
  position: relative;
  display: inline-block;
  color: gray; // 이거 왜 안먹지
  font-weight: normal;
  span::before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 12px;
    margin: -2px 3px 0 0;
    vertical-align: middle;
    background-color: #ff0;
  }
  .red{
    margin-left: 15px;
    &::before {
      background-color: #f00;
    }
  }
}

// list-box
.list-box {
  margin-bottom: 15px;
  margin: 5px 0 30px;
  ul {
    list-style: none;
  }
  ul > li {
    padding: 20px;
    line-height: 20px;
    border-bottom: solid 1px #ddd;
    &:first-child {
      padding-top:0;
    }
    &:last-child {
      margin-bottom: 15px;
    }
    .txt{
      span {
        color: #797979;
      }
    }
  }
}
