// description: 홈 화면 scss
// fileName: Home.scoped.scss
// created: 2021-01-08

@import '../theme/color';

.box {
  display: flex;
  margin-left: 8px;
  text-align: right;
  vertical-align: top;
  .badge {
    position: inherit;
    min-width: 27px;
    min-height: auto;
    height: 20px;
    margin-top: 5px;
    margin-left: 4px;
    padding: 3px 0 3px 0;
    font-size: 13px;
    color: #444;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: $hamaYellow;
    cursor: pointer;
  }
  .apv-btn{
    margin-left:auto;
    background-color: $hamaPurple !important;
    border-radius: 2px;
    width:55px;
  }
  .refresh-btn{
    height: 25px;
    margin-left:5px;
    cursor: pointer;
    margin-top:5px;
    color:$hamaPurple;
  }
}
.apv-date{
  margin-left: 3px;
  font-size: 12px;
  color: #E5303C;
  background-color: #F5F5F5;
  padding:0.5px 5px;
  border-radius:2px;
  transform: translateY(-2px);
}