// description: 홈 화면 scss
// fileName: Home.scoped.scss
// created: 2021-01-08, 이지혜
@import '../theme/color';

.box {
  display: flex;
  margin-left: 8px;
  text-align: right;
  vertical-align: top;
  .badge {
    position: inherit;
    min-width: 27px;
    min-height: auto;
    height: 20px;
    margin-top: 5px;
    margin-left: 4px;
    padding: 3px 0 3px 0;
    font-size: 13px;
    color: #444;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: $hamaYellow;
    cursor: pointer;
  }
  .refresh-btn{
    height: 27px;
    margin-left:10px;
  }
}
