// description: 홈 화면 scss
// fileName: Home.scoped.scss
// created: 2021-01-08, 이지혜

@import '../theme/color';

.login-wrap {
  overflow: hidden;
  overflow-y: hidden;
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: $hamaPurple;
  // background-color: $hamaPurple url(/static/img/파일명.png) no-repeat;
  background-size: cover;
  .login-box {
    width: 320px;
    height: 370px;
    padding: 35px 40px 70px;
    margin-top: -10px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    .title-container {
      font-family: 'Dotum';
      font-size: 13px;
      letter-spacing: -0.38px;
      word-break: keep-all;
      word-wrap: break-word;
      white-space: normal;
      img {
        border-style: none;
        width: 70px;
      }
    }
    .input-area {
      margin: 30px 0 22px;
      height: 60%;
      .input-normal-wrap {
        input {
          border: none;
          width: 90%;
          border-bottom: 1px solid lightgray !important;
          display: block;
        }
      }
      .relative {
        input {
          border: none;
          width: 90%;
          border-bottom: 1px solid lightgray !important;
        }
        .pwd-eye{
          color:gray;
        }
      }
      .m-red {
        color: $hamaPurple;
        font-size: 12px;
      }
    }
    .submit-btn {
      height: 50px;
      margin-top: 10px;
    }
  }
  .copyright {
    position: absolute;
    bottom: 20px;
    height: auto;
    padding: 0;
    text-align: center;
    background-color: transparent;
    > p {
      display: inline-block;
      margin-top: 1px;
      font-size: 10px;
      vertical-align: middle;
      letter-spacing: 0;
      color: #fff;
    }
  }
}
