@import '../theme/color';

.search-area-input {
  input {
    border: none;
    border-bottom: 1px solid lightgray;
  }
}
.search-area-bottom-btn {
  margin-top: 15px;
  .search-btn {
    --background: #3f2e99;
  }
}

.result-list-wrap {
  // 검색 결과 count에서의 승인대기 스타일링
  .result-cnt-pending-red {
    color: white;
    background-color: red;
    padding: 1px 4px;
    border-radius: 0.3rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  // 리스트에서의 '승인대기'
  .pending-red-in-list {
    display: inline;
    color: white;
    background-color: red;
    padding: 2px 4px;
    border-radius: 0.2rem;
  }
  // 리스트에서의 '하마지기'
  .pending-admin-in-list {
    display: inline;
    color: white;
    background-color: $hamaPurple;
    padding: 2px 4px;
    border-radius: 0.2rem;
  }
}
