@import '../../theme/color';

.hama-logo{
  left: 0;
  position: absolute;
  top: -14px;
  img{
    width:28px;
  }
  span{
    margin-left:5px;
    font-weight: bold;
    color:$hamaPurple;
    top: 4px;
    position: absolute;
  }
}