@import '../../theme/color';

.hama-logo{
  left: 0;
  position: absolute;
  top: 7px;
  img{
    width:28px;
  }
  .page-tit {
    margin-left:5px;
    font-weight: bold;
    color:$hamaPurple;
    top: 5px;
    position: absolute;     
  } 
}